body {
    font-size: 20px;
    font-family: "Courier New";

}
.flex-container {
    display: flex;
    background-color: rgba(70,97,255,0.1);
    margin: 20px;

}
.auto{
    flex: auto;
    background-color: #5c7aff;
    width: 250px;
    margin: 10px;
    padding: 5px 0px 5px 15px;

}
.initial {
    flex: initial;
    background-color: #5c7aff;
    width: 250px;
    margin: 10px;
    padding: 5px 0px 5px 15px;
}

.none {
    flex: none;
    background-color: #5c7aff;
    width: 250px;
    margin: 10px;
    padding: 5px 0px 5px 15px;

}
.none-right {
    flex: none;
    background-color: #5c7aff;
    width: 250px;
    margin: 10px;
    padding: 5px 0px 5px 15px;
    margin: 10px 0px 10px auto;
}
.four {
    flex: 4;
    background-color: #5c7aff;
    width: 250px;
    margin: 10px;
    padding: 5px 0px 5px 5px;
    /*padding-left: 15px;*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
}

.two {
    flex: 2;
    background-color: #5c7aff;
    width: 250px;
    margin: 10px;
    padding: 5px 0px 5px 5px;
}

.one {
    flex: 1;
    background-color: #5c7aff;
    width: 250px;
    margin: 10px;
    padding: 5px 0px 5px 5px;
}